.scroll-view {
    max-height: 80vh; /* Adjust as needed */
    overflow-y: auto;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Reduce gap between items */
}

.grid-item {
    flex: 1 1 calc(25% - 10px); /* Make items smaller */
    box-sizing: border-box;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item-details {
    padding: 5px; /* Reduce padding */
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.pagination-buttons button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/* Responsive otherStyles */
@media (max-width: 1200px) {
    .grid-item {
        flex: 1 1 calc(33.333% - 10px); /* 3 items per row */
    }
}

@media (max-width: 900px) {
    .grid-item {
        flex: 1 1 calc(50% - 10px); /* 2 items per row */
    }
}

@media (max-width: 600px) {
    .grid-item {
        flex: 1 1 100%; /* 1 item per row */
    }
}

.go-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}